<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<% messages.each do |message| %>

  <li><a href="/view_comments/<%= message["id"] %>"><%= message["message"] %></a> | <a href="/comment/<%= message["id"]%>">Comment</a> | <a href="/edit/<%= message["id"]%>">Edit</a> |
    <form method="post" action="/delete/<%= message["id"] %>">
      <input type="hidden" name="_method" value="delete"/>
      <input type="submit" value="Delete"/>
    </form>
  </li>
  <p>Comments:</p>
  <% comments.each do |comment| %>
    <% if comment["message_id"] == message["id"] %>
      <div class="comment">
        <%= comment["comment"] %>
      </div>
    <% end %>
  <% end %>
<hr>
<% end %>

